name: Run E2E Tests

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  tests:
    name: 'Playwright E2E Tests'
    runs-on: arc-ssc-dsai
    permissions:
      contents: read
      attestations: read
      id-token: write
      pull-requests: write

    timeout-minutes: 60
    services:
      qdrant:
        image: qdrant/qdrant:latest
        ports:
          - 6333:6333
          - 6334:6334
        options: >-
          --add-host host.docker.internal:host-gateway

    steps:      
      - name: Checkout CANChat-V2
        uses: actions/checkout@v4

      - name:  Setup Miniconda
        run: |
            wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
            bash Miniconda3-latest-Linux-x86_64.sh -b -p $HOME/miniconda
            rm Miniconda3-latest-Linux-x86_64.sh
            ~/miniconda/bin/conda init
            source ~/.bashrc
            conda create -n canchat python=3.11 -y
            conda activate canchat

      - name:  Setup Node 22
        run: |
            apt update && sudo apt install libatomic1 -y
            wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh | bash
            export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm install 22
            nvm use 22

      - name:  Setup CANChat Environment
        run:  npm run setup


      - name: Get timestamp
        id: timestamps
        shell: bash
        run: |
          echo "timestamp=$(/bin/date -u "+%Y%m%d_%H%M%S")" >> $GITHUB_OUTPUT

          
      - name:  Start Playwright Tests
        run: npm run test

      - name: Upload Report
        id: upload_report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-${{ steps.timestamps.outputs.timestamp }}
          path: ./playwright-report/
          retention-days: 30

      - uses: daun/playwright-report-summary@v3
        if: ${{ !cancelled() }}
        id: playwright_summary
        with:
          report-file: ./playwright-report/results.json
          create-comment: false

      - uses: marocchino/sticky-pull-request-comment@v2
        if: ${{ !cancelled() }}
        with:
          header: "Playwright Report"
          message: "${{ steps.playwright_summary.outputs.summary }}\n\n\n[Download Playwright Report](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/artifacts/${{ steps.upload_report.outputs.artifact-id }})"

