name: SBOM generate and compare
# target steps:
# download sbom (from github - SPDX format)
# - preblems with github API version (lack of sort-order, makes diff problematic)
# - sort with sbom-soreter
# create your own SBOM method (CDX newer, more robust format)
# - allows creating an SBOM for the earlier build, instead of relying on download of SBOM from a previous run
# compare SBOMs
# track DIFFs as artifacts within this github action, note artefacts expire, the max (and default) is 90 days
# generate csv or excel SBOMs for simpler manual review

on:
  pull_request:
    branches:
      - main
      - dev
      - chat-1551
  push:
    branches:
      - main
      - dev
      - chat-1551

permissions:
    actions: read
    contents: write

jobs:
  sbom-generate-and-compare:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2  # Fetch the previous commit for comparison
          ref: ${{ github.head_ref }}  # For PRs, checkout the head branch

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
          
      - name: Install Dependencies
        run: |
          # cdxgen (create current AND previous, in CDX format ) 
          npm install -g @cyclonedx/cdxgen

          # cycloneDX (create CSV from either format SBOM)
          # suggested install requires brew (not present) download the asset directly
          wget -O cyclonedx https://github.com/CycloneDX/cyclonedx-cli/releases/download/v0.30.0/cyclonedx-linux-x64
          chmod 777 cyclonedx

          # sbom-to-excel
          # SKIP, EXCEL TOOL NEEDS TO NOT CRASH IF WANTING TO REPLACE the CSV
          # git clone https://github.com/jacobbarkai/sbom-to-excel.git
          # pip install -r sbom-to-excel/requirements.txt

          # sbomdiff (create a DIFF from either format SBOM into TXT)
          pip install sbomdiff

          # sbom-sorter
          git clone https://github.com/arturmartins/spdx-sorter.git

      - name: setup artefact folder
        run: mkdir .sbom

      - name: Get Previous Run ID
        id: get-run-id
        run: |
         RUN_ID=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/actions/runs?branch=${{ github.ref_name }}" \
            | jq -r '.workflow_runs[1].id') # Fetch the second most recent run (index 1)
         echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT

      - name: Download SBOM Artifacts from previous execution
        id: download-artifacts
        uses: actions/download-artifact@v7
        # if doesn't exist continue on error
        continue-on-error: true
        with:
          path: .sbom
          name: SBOM-Artifacts
          run-id: ${{ steps.get-run-id.outputs.run_id }}
          github-token:  ${{ secrets.GITHUB_TOKEN}} # may need a custom token ie: MY_PAT_TOKEN
          merge-multiple: true

      - name: show downloaded artifacts
        run: ls -R .sbom    # gut check

      - name: Create SPDX SBOM files - copy from previous run if exists, or create empty previous if not available
        id: current-sbom-spdx
        run: |
          # copy downloaded current SPDX SBOM to previous if exists - if not exist create a blank file
          touch .sbom/previous.spdx.json
          if test -f .sbom/current.spdx.json; then cp .sbom/current.spdx.json .sbom/previous.spdx.json; fi
          # update from github the current SBOM and sort (sort needed for compare later)
          curl https://github.com/ssc-dsai/canchat-v2/dependency-graph/sbom | jq > .sbom/current.spdx.json
          python spdx-sorter/sort_spdx.py .sbom/current.spdx.json

      - name: Generate Current SBOM CDX format
        id: current-sbom-cdx
        run: |
          cdxgen -o .sbom/current.cdx.json                             # OLD: -p > .sbom/current.txt
          jq . .sbom/current.cdx.json > tmp.json && mv tmp.json .sbom/current.cdx.json
          echo "current_sbom=.sbom/current.cdx.json" >> $GITHUB_OUTPUT

      - name: Generate Previous SBOM CDX format
        id: previous-sbom-cdx
        run: |
          git checkout HEAD^
          cdxgen -o .sbom/previous.cdx.json                            # OLD:  -p > .sbom/previous.txt
          jq . .sbom/previous.cdx.json > tmp.json && mv tmp.json .sbom/previous.cdx.json
          echo "previous_sbom=.sbom/previous.cdx.json" >> $GITHUB_OUTPUT
          git checkout -

      - name: Create CSVs
        id: convert-sboms
        run: |
          ./cyclonedx convert --input-file .sbom/current.cdx.json --output-file .sbom/current.cdx.csv
          ./cyclonedx convert --input-file .sbom/current.spdx.json --output-file .sbom/current.spdx.csv

        # SKIP, EXCEL TOOL NEEDS TO NOT CRASH IF WANTING TO REPLACE the CSV
        #- name: convert all SBOM to EXCEL
        # id: convert-current-cdx-to-excel
        # continue-on-error: true
        # run: |
        #   python sbom-to-excel/sbom_to_excel.py .sbom/current.cdx.json -o .sbom/current.cdx.xlsx
        #   python sbom-to-excel/sbom_to_excel.py .sbom/current.spdx.json -o .sbom/current.spdx.xlsx

      - name: Compare CDX SBOMs
        id: compare-sbom-cdx
        continue-on-error: true
        run: sbomdiff .sbom/previous.cdx.json .sbom/current.cdx.json --sbom cyclonedx --format text > .sbom/comparison.cdx.md

      - name: Compare SPDX SBOMs
        id: compare-sbom-spdx
        continue-on-error: true
        run: sbomdiff .sbom/previous.spdx.json .sbom/current.spdx.json --sbom spdx --format text > .sbom/comparison.spdx.md

      - name: Get PR number or none
        id: pr
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            # Extract PR number from the event payload
            PR_NUMBER=$(jq -r '.number' "$GITHUB_EVENT_PATH")
            echo "pr_number=$PR_NUMBER" >> $GITHUB_OUTPUT
          else
            echo "pr_number=none (push)" >> $GITHUB_OUTPUT
          fi

       
      - name: Create output
        id: create-output
        continue-on-error: true
        run: |
          TIMESTAMP=$(date +"%Y-%m-%d %H:%M:%S %Z")
          echo "" >> .sbom/comparison-history.md
          echo "# Pull Request Number: ${{ steps.pr.outputs.pr_number }}"  >> .sbom/comparison-history.md
          echo "## Run Timestamp: $TIMESTAMP" >> .sbom/comparison-history.md
          # CDX version
          echo "### Details (CDX)" >> .sbom/comparison-history.md
          cat .sbom/comparison.cdx.md >> .sbom/comparison-history.md # copy differnces to the historic version
          # SPDX version
          echo "### Details (SPDX)" >> .sbom/comparison-history.md
          cat .sbom/comparison.spdx.md >> .sbom/comparison-history.md # copy differnces to the historic version
          # send full comparison history file to summary screen
          cat .sbom/comparison-history.md >> $GITHUB_STEP_SUMMARY

      - name: show artifacts after all changes
        run: ls -R .sbom    # gut check

      - name: Upload SBOM Artifacts
        uses: actions/upload-artifact@v6
        continue-on-error: true
        with:
          name: SBOM-Artifacts
          include-hidden-files: true
          path: .sbom/
          
