name: SBOM Generate

on:
  pull_request:
    branches:
      - main
      - dev
      - chat-1551
  push:
    branches:
      - main
      - dev
      - chat-1551

permissions:
    actions: read
    contents: write

jobs:
  sbom-compare:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2  # Fetch the previous commit for comparison
          ref: ${{ github.head_ref }}  # For PRs, checkout the head branch

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22' # was 18

      - name: Install Dependencies
        run: |
          npm install -g @cyclonedx/cdxgen
          #npm install json-diff
          #brew install cyclonedx/cyclonedx/cyclonedx-cli
          wget https://github.com/CycloneDX/cyclonedx-cli/releases/download/v0.30.0/cyclonedx-linux-x64
          chmod 777 cyclonedx-linux-x64
          mkdir .sbom

      #  doesn't seem to work
      - name: Download SBOM Artifacts from previous execution
        uses: actions/download-artifact@v5
        continue-on-error: true
        with:
          path: .sbom
          merge-multiple: true
          name: SBOM Artifacts

      - name: Generate Current SBOM
        id: current-sbom
        run: |
          cdxgen -o .sbom/current.cdx.json -p > .sbom/current.txt
          echo "current_sbom=.sbom/current.cdx.json" >> $GITHUB_OUTPUT

      - name: Generate Previous SBOM
        id: previous-sbom
        run: |
          git checkout HEAD^
          cdxgen -o .sbom/previous.cdx.json -p > .sbom/previous.txt
          echo "previous_sbom=.sbom/previous.cdx.json" >> $GITHUB_OUTPUT
          git checkout -

      - name: Create CSVs
        id: convert-sboms
        run: |
          ./cyclonedx-linux-x64 convert --input-file .sbom/current.cdx.json --output-file .sbom/current.csv
          ./cyclonedx-linux-x64 convert --input-file .sbom/previous.cdx.json --output-file .sbom/previous.csv

      - name: Compare SBOMs
        id: compare-sboms
        run: |
          TIMESTAMP=$(date +"%Y-%m-%d %H:%M:%S %Z")
          COMPARISON_RESULT=$(./cyclonedx-linux-x64 diff ${{ steps.current-sbom.outputs.current_sbom }} ${{ steps.previous-sbom.outputs.previous_sbom }})
          echo "### SBOM Comparison Report - $TIMESTAMP" > .sbom/comparison.md
          echo "$COMPARISON_RESULT" >> .sbom/comparison.md
          echo "" >> .sbom/comparison.md  # Add a newline for separation
          cat .sbom/comparison.md >> .sbom/comparison-history.md # copy current differnces to the history version
          cat .sbom/comparison-history.md >> $GITHUB_STEP_SUMMARY

      - name: Upload SBOM Artifacts
        uses: actions/upload-artifact@v5
        with:
          path: |
            .sbom/current.cdx.json
            .sbom/current.txt
            .sbom/current.csv
            .sbom/previous.cdx.json
            .sbom/previous.txt
            .sbom/previous.csv
            .sbom/comparison.md
            .sbom/comparison-history.md
          name: SBOM Artifacts
