name: SBOM Generate

on:
  pull_request:
    branches:
      - main
      - dev
      - chat-1551
  push:
    branches:
      - main
      - dev
      - chat-1551

permissions:
    actions: read
    contents: write

jobs:
  sbom-generate-and-compare:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2  # Fetch the previous commit for comparison
          ref: ${{ github.head_ref }}  # For PRs, checkout the head branch

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
          
      - name: Install Dependencies
        run: |
          npm install -g @cyclonedx/cdxgen
          #brew install cyclonedx/cyclonedx/cyclonedx-cli
          #wget https://github.com/CycloneDX/cyclonedx-cli/releases/download/v0.30.0/cyclonedx-linux-x64
          #chmod 777 cyclonedx-linux-x64
          mkdir .sbom
          ls -R .sbom

      - name: Get Previous Run ID
        id: get-run-id
        run: |
         RUN_ID=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/actions/runs?branch=${{ github.ref_name }}" \
            | jq -r '.workflow_runs[1].id') # Fetch the second most recent run (index 1)
         echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT

      - name: Download SBOM Artifacts from previous execution
        id: download-artifacts
        uses: actions/download-artifact@v7
        # if doesn't exist continue or if this fails may need to check if exists in advance
        continue-on-error: true
        with:
          path: .sbom
          name: SBOM-Artifacts
          run-id: ${{ steps.get-run-id.outputs.run_id }}
          github-token:  ${{ secrets.GITHUB_TOKEN}} # may need a custom token ie: MY_PAT_TOKEN
          merge-multiple: true

      - name: show files after download
        run: ls -R .sbom

      - name: Generate Current SBOM SPDX format
        id: current-sbom-spdx
        run: |
          if test -e .sbom/current.spdx.json; then cp -f .sbom/current.spdx.json .sbom/previous.spdx.json; fi
          curl https://github.com/ssc-dsai/canchat-v2/dependency-graph/sbom | jq > .sbom/current.spdx.json
        
      - name: Generate Current SBOM CDX format
        id: current-sbom-cdx
        run: |
          cdxgen -o .sbom/compact.current.cdx.json -p > .sbom/current.txt
          cat .sbom/compact.current.cdx.json | jq > .sbom/current.cdx.json
          echo "current_sbom=.sbom/current.cdx.json" >> $GITHUB_OUTPUT

      - name: Generate Previous SBOM CDX format
        id: previous-sbom-cdx
        run: |
          git checkout HEAD^
          cdxgen -o .sbom/compact.previous.cdx.json -p > .sbom/previous.txt
          cat .sbom/compact.previous.cdx.json | jq > .sbom/previous.cdx.json
          echo "previous_sbom=.sbom/previous.cdx.json" >> $GITHUB_OUTPUT
          git checkout -

      - name: Create CSVs
        id: convert-sboms
        run: |
          docker run cyclonedx/cyclonedx-cli convert --input-file .sbom/current.cdx.json --output-file .sbom/current.csv
          docker run cyclonedx/cyclonedx-cli convert --input-file .sbom/previous.cdx.json --output-file .sbom/previous.csv
          # old, ./cyclonedx-linux-x64 convert --input-file .sbom/previous.cdx.json --output-file .sbom/previous.csv

      - name: Compare SBOMs
        id: compare-sboms
        run: |
          TIMESTAMP=$(date +"%Y-%m-%d %H:%M:%S %Z")
          # new comparison file
          echo "### SBOM Comparison Report - $TIMESTAMP" > .sbom/comparison.md
          docker run cyclonedx/cyclonedx-cli diff .sbom/previous.cdx.json .sbom/current.cdx.json --component-versions --output-format text >> .sbom/comparison.md
          echo "" >> .sbom/comparison.md  # Add a newline for separation
          # append comparison file to history file and cat new history to github summary
          cat .sbom/comparison.md >> .sbom/comparison-history.md # copy differnces to the historic version
          cat .sbom/comparison-history.md >> $GITHUB_STEP_SUMMARY

      - name: show files after changes
        run: ls -R .sbom

      - name: Upload SBOM Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: SBOM-Artifacts
          path: |
            .sbom/current.spdx.json
            .sbom/current.cdx.json
            .sbom/current.txt
            .sbom/current.csv
            .sbom/previous.spdx.json
            .sbom/previous.cdx.json
            .sbom/previous.txt
            .sbom/previous.csv
            .sbom/comparison.md
            .sbom/comparison-history.md
